/* navigation bar */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    background-color: #2C2F33;
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    display: block;
    height: 100%;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

.portfolio-nav {
    transition: top 0.3s;
    top: -50px;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    color: #4e4f50;
    font-style: arial sans-serif;
    border: 2px solid #2C2F33;
    border-radius: 5px;
    margin: auto;
    padding: 35px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    top: 0px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 10;
}

/* profile pic */
.portfolio-nav img {
    width: 50px;
    position: relative;
    margin: 0 auto;
    float: left;
    vertical-align: middle;
    border-radius: 10px;
}

/* h3 in element */
.portfolio-nav h3 {
    font-size: 15px;
    float: left;
    margin: 10px;
    color: #4e4f50;
}

/* unordered list for the navigation bar */
.portfolio-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

}

/* Links styles  */
.portfolio-nav a {
    margin: 10px;
    float: right;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    background-color: #4e4f50;
    color: white;
    border: 2px solid #2C2F33;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.portfolio_nav img {
    display: none;
}

/*Button */

.portfolio-nav a:hover {
    background-color: #7a7a7a;
}

/*HomePage, the first thing you see when looking at the website */
.HomePage {
    display: block;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 120px;
}

.HomePage img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    vertical-align: center;
    position: relative;
    border-radius: 100%;
}

.HomePage button {
    float: center;
    padding: 20px 26px;
    text-decoration: none;
    background-color: white;
    color: #4e4f50;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s;
}

.HomePage button:hover {
    background-color: #d6ffff;
    transform: translateY(-10px)
}

.HomePage .Logos {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    border-radius: 5px;

}

.HomePage .Logos img {
    margin: 0 10px;
    max-height: 100px;
    max-width: 100px;
    transition: all 0.3s;
}

.HomePage .Logos img:hover {
    background-color: #d6ffff;
    transform: translateY(-5px)
}

.HomePage .Resume {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
}

/*About me page */
.About_me {
    padding-top: 120px;
    display: flex;
    margin-bottom: 20px;
    margin: 20px auto;
    position: relative;
    padding: 50px 20px;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.About_me .headerabout {
    margin-top: 100px;
}

/*Flex for the image and the text  */
.About_me .About_me_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.About_me img {
    max-width: 1622px;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.About_me .About_me_flex p {
    max-width: 700px;
    height: auto;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.5;
    display: none;
}

/*Skill page */

.Skills .headerskill {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    align-items: center;
    color: white;
    margin-top: 70px;
}

.Skill_Flex {
    display: flex;
    margin: 0px auto;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    max-width: 1200px;
    color: white;
    gap: 15px;
}

/*Skills */

/*Cards for each programing language used */

.Projects {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.Projects .headerproject {
    margin-top: 10px;
}

.Project_Flex {
    display: flex;
    margin: 5px auto;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
}

.Card_Component {
    display: block;
    margin: 20px auto;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    width: 180px;
    height: auto;
    background-color: white;
    border-width: 15px;
    border-color: solid white;
    text-align: center;
    color: #4e4f50;
    box-shadow: 5px 5px 20px #000000;
    transition: transform 0.3s ease;
}

.Card_Component:hover {
    transform: scale(1.05);
    /* slightly enlarge on hover */
}

.Card_Component img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}


/* Cards for the projects */

.Card_Component2 {
    display: block;
    margin: 50px auto;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    max-height: 600px;
    background-color: #a5fafa;
    border-width: 30px;
    border-color: solid white;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 20px #000000;
    transition: all 0.3s;

}

.Card_Component2:hover {
    background-color: #55fdfd;
    transform: translateY(-10px)
}

.Card_Component2 img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.Card_Component2 p {
    font-size: 16px;
    text-align: center;
    color: #4e4f50;
}







/*Image for the cards */




/*Contact */

.Contact h2 {
    margin-top: 25px;
    text-align: center;
    color: white;
    position: relative;
}

.Contact-flex {
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;


}

.Contact-flex .contact-left-title {
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
    padding: 0;
    position: relative;
    color: white;
}

/*Contact me */

.contact-inputs {
    padding: 15px 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: #4e4f50;
    border-radius: 50px;
    position: relative;
}

/*Contact me text boxes*/
.Contact-flex .contact-left {
    display: flex;
    flex-direction: column;
    flex-direction: start;
    gap: 30px;
    position: relative;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.Contact-flex .contact-right {
    max-width: 600px;
    max-height: 600px;
}

/*Contact me image*/
.Contact-flex .contact-right img {
    max-width: 500px;
    height: auto;
    width: 100%;
    position: relative;
}

/* WHen you click on the contact boxes */
.contact-inputs:focus {
    border: 5px solid purple;
}

.textarea {
    padding: 50px 50px;
}

/*Submit button */
.contact-left button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    transition: all 0.3s;
    color: black;
}

.contact-left button:hover {
    background-color: #d6ffff;
    transform: translateY(-10px)
}

footer {
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: white;
    color: #4e4f50;
}

footer a {
    color: blue;
}

/*Mobile menu */

/*Attempt to change it for mobile, it still does not work */
@media only screen and (max-width: 800px) {

    /* Add offset to each section */
    #home,
    #aboutme,
    #skills,
    #projects,
    #contact {
        position: relative;
    }

    /* Create a 60px space for the navbar */
    #home::before,
    #aboutme::before,
    #skills::before,
    #projects::before,
    #contact::before {
        content: "";
        display: block;
        height: 300px;
        /* Same height as your navbar */
        margin-top: -80px;
        /* Offset the content to prevent overlap */
    }

    .HomePage {
        margin-top: 300px;
        padding-top: 40px;
    }

    .HomePage img {
        margin-top: 50px;
    }

    .porfolio-nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .portfolio-nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
        width: 100%
    }

    .portfolio-nav li {
        width: 80%;
        text-align: center;
        margin: 0;
    }

    .portfolio-nav a {
        display: inline-block;
        padding: 10px 0;
        /* Reduce padding */
        font-size: 14px;
        /* Reduce font size */
        border-radius: 4px;
        /* Adjust rounded corners */
        width: 80%;
        /* Make buttons smaller */
    }

    .portfolio-nav img {
        display: none;
    }

    .About_me {
        margin-top: 300px;
        padding-top: 40px;
        display: flex;
        padding: 10px;
        width: 90%;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0;
        justify-content: center;
    }

    .About_me .About_me_flex {
        flex-direction: column;
        padding: 20px;
        margin: 20px;
        align-items: center;
        justify-content: center;
        display: flex;

    }

    .About_me .About_me_flex img {
        display: none;

    }

    .About_me .About_me_flex p {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0 20px;
        display: flex;

    }

    .Skill_Flex {
        justify-content: center;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .Card_Component {
        width: 150px;
        padding: 15px;
        font-size: 12px;
    }

    .Card_Component img {
        width: 70px;
    }

    .Card_Component2 {
        display: block;
        margin: 50px auto;
        position: relative;
        padding: 20px;
        max-width: 400px;
        max-height: 400px;

    }

    .Card_Component2 img {
        width: 100px;
        height: auto;
    }


    .Project_Flex {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        font-size: 11px;
    }

    .Contact h1 {
        margin-top: 200px;
        text-align: center;
        color: white;
        position: relative;
    }

    .Contact-flex {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin: 0 auto;

    }

    .Contact-flex .contact-left-title {
        display: none;
    }

    /*Contact me */

    .contact-inputs {
        padding: 20px 50px;
        border: none;
        outline: none;
        color: #4e4f50;
        border-radius: 50px;
        order: 2;
        margin-bottom: 10px;
    }

    /*Contact me text boxes*/
    .Contact-flex .contact-left {
        display: flex;
        flex-direction: column;
        flex-direction: start;
        gap: 10px;
    }

    /*Contact me image*/
    .Contact-flex .contact-right img {
        order: 1;
        max-width: 700px;
        height: auto;
        width: 100%;
    }

    .contact-left button {
        order: 3;
    }

    /* WHen you click on the contact boxes */
    .contact-inputs:focus {
        border: 5px solid pink;
    }

    .textarea {
        padding: 50px 50px;
    }
    .project_description{
        font-size: 12px;
    }

}

@media only screen and (max-width: 500px) {

    .portfolio-nav a {
        padding: 5px 10px;
        /* Further reduce padding */
        font-size: 12px;
        /* Smaller font size */
        width: 70%;
        /* Make buttons even smaller */
    }

    .portfolio-nav img {
        display: none;
    }

    .About_me {
        margin-top: 180px;
        /* Smaller value for mobile screens */
        padding-top: 30px;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0;
        margin-bottom: 30px;
    }

    .About_me .About_me_flex {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .About_me .About_me_flex img {
        display: none;

    }

    .About_me .About_me_flex p {
        padding: 0 10px;
        display: flex;
    }

    .Contact-flex {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin: 0 auto;

    }

    .Skill_Flex {
        justify-content: center;
        gap: 10px;
        font-size: 11px;
    }

    .Project_Flex {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        font-size: 11px;


    }

    .Card_Component {
        width: 120px;
        /* even smaller cards */
        padding: 10px;
        font-size: 11px;
    }

    .Card_Component img {
        width: 60px;
        /* further reduced image size */
    }

    .Card_Component2 {
        display: block;
        margin: 50px auto;
        position: relative;
        padding: 20px;
        max-width: 300px;
        max-height: 300px;

    }

    .Card_Component2 img {
        width: 50px;
        height: auto;
    }
    .project_description{
        display:none;
    }
}